
<p class="text-center text-muted" *ngIf="!movimentos.length">
        Sorry, no records founded
</p>

<table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>dataLancamento</th>
                <th>descricao</th>
                <th>numero</th>
                <th>situacao</th>
                <th>dataConferencia</th>
                <th>dadosBancarios</th>
                <th>valor</th>
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let movimento of movimentos" >
                <td>{{movimento.dataLancamento}}</td>
                <td>{{movimento.descricao}}</td>
                <td>{{movimento.numero}}</td>
                <td>{{movimento.situacao}}</td>
                <td>{{movimento.dataConferencia}}</td>
                <td>{{movimento.dadosBancarios}}</td>
                <td>{{movimento.valor}}</td>
            </tr>                    
        </tbody>
    </table>