<ol class="list-unstyled">
        <li *ngFor="let movimento of movimentos" class="row">
            <div class="col-4">
                    <app-movimento *ngFor="let movimento of movimentos" 
                    [dataLancamento]="movimento.dataLancamento"
                    [descricao]="movimento.descricao" 
                    [numero]="movimento.numero" [situacao]="movimento.situacao"
                    [dataConferencia]="movimento.dataConferencia" 
                    [dadosBancarios]="movimento.dadosBancarios"
                    [valor]="movimento.valor"></app-movimento>
            </div>
        </li>
    </ol>